# ignore these directories
build/
.gradle/

# ignore files with the following filename extension
*.tmp
/.nb-gradle/
/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat7-12/Verkkokauppa1/.nb-gradle/

/viikko3/WebLogin/salasanat.txt